<!DOCTYPE html>
<html>
<head>
<LINK href="{{ STATIC_URL }}styles/main.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/main.js" type="text/javascript"></script>
{% block head %}{% endblock %}
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id='full-wrap'>
    {% include "header.html" %}
    <div id='content-wrap' class='drop-shadow lifted'>
        {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
</div>
</body>
</html>
