<div id='footer'>
   <div class='justify column-left'>
      <h1 class='footer-header'>What do you have to offer?</h1>
      <p class='footer-body'>
         Being independent has tons of benefits! I can code any design you come up with, 
         as well as have designs custom-made to your specifications. Whether you have
         a design, graphics, or both, I can put it all together to deliver an impressive
         product. Being independent also means less overhead! I pass the savings directly 
         onto you. I develop things in Django, so it can run just about anywhere. I also 
         do some PHP for the rare cases that Django doesn't suit your needs.
      </p>
      <br />
      <br />
      <div class='bottom'>
         <h1 class='footer-header'>How did it start?</h1>
         <p class='footer-body'>
            It all started when my dad bought me a Q-Basic programming book. Our family computer
            was a i486SX (the one without the floating-pount unit). From the second I typed my 
            first lines of Q-Basic I was hooked. I knew I wanted to program. It wasn't until I 
            was stuck in a factory making Toilet Paper (it's true) that I really got motivated.
            I wrote my first game, <a href='http://www.cloudsmobile.com'>clouds mobile</a> (no 
            longer available) that achieved dover 4000 downloads.
         </p>
      </div>
   </div>
   <div class='justify column-center'>
   <img class='lifted drop-shadow'id='footer-portrait' src="{{ STATIC_URL }}images/self.jpg" />
      <div class=''>
         <h1 class='footer-header'>Who is this guy, anyway?</h1>
         <p class='footer-body'>
            I'm a web developer who specializes in dyanmic web 
            applications written in Django. My web skills are completely self-taught; however, 
            I have taken non-web programming classes in the past. I thoroughly enjoy the entire 
            development process of a website from the first 'django_admin.py startproject' 
            command to the last line of JavaScript.
         </p>
      </div>
   </div>
   <div class='justify column-right'>
      <h1 class='footer-header'>I like you. How do I hire you?</h1>
      <p class='footer-body'>
         That's easy! Just fill out the form below, and I'll get in contact with you!
      </p>
   <div id='contact-form'>
      <form action=''> {% csrf_token %}
         <label for="name">Name:</label>
         <input type="text" name="name" id="name"><br />
         <label for="email">E-Mail:</label>
         <input type="text" name="email" id="email"><br />
         <label for="message">Description:</label><br />
         <textarea name="message" id="message"></textarea>
         <input class='button' type="button" value="Submit" onClick="sendEmail(this.form)">
      </form>
   </div>
   </div>
   {% include 'bottom-nav.html' %}
</div>
