{% extends "base.html" %}
{% block title %}Christopher Budd's Resume{% endblock %}
{% block head %}
<LINK href="{{ STATIC_URL }}styles/resume.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL }}scripts/resume.js" type='text/javascript'></script>
{% endblock %}
{% block content %}
<div id='resume-nav'>
   <div class='resume-section-head' id='objective'>Objective</div>
   <div class='resume-section-head' id='education'>Education</div>
   <div class='resume-section-head' id='skills'>Skills</div>
   <div class='resume-section-head' id='experience'>Experience</div>
   <div class='resume-section-head' id='hobbies'>Hobbies</div>
</div>
<div id='resume-wrap'>
    <div class='resume-section'>
        <div id='objective-body' class='resume-section-body'>Confident and proficient programmer with five years experience. Experience with multiple programming languages on multiple platforms with recent focus on Django web apps. I am currently seeking any position related to computer science including programming, quality assurance, or data entry.</div>
    </div>
    <div class='resume-section'>
        <div id='education-body' class='resume-section-body'>
        <span class='resume-body-header'>Merced Community College</span><br />
        Completed English 81 & 84 with As<br />
        Completed Beginning Algebra with an A<br />
        Completed Intermediate Algebra with 100%<br />
        <br />
        <span class='resume-body-header'>Modesto Junior College</span><br />
        Completed Problem Solving/Programming 1 & 2 (Java and C++) with an A<br />
        Completed Introduction to UNIX/Linux Systems with an A<br />
        Completed Networking Essentials with an A<br />
        <br />
        <span class='resume-body-header'>Hilmar High School</span><br />
        Obtained CHSPE and graduated junior year<br />
        Completed a Visual Basic and HTML Programming course<br />
        </div>
    </div>
    <div class='resume-section'>
        <div id='skills-body' class='resume-section-body'>
        <span class='resume-body-header'>Applications</span><br />
        Xcode, VIM, GCC, SSH, FTP, Aptana Studio 3, Eclipse, Code::Blocks, GNU screen<br />
        <span class='resume-body-header'>Platforms</span><br />
        GNU/Linux, Mac OS X, Windows, iOS, Android, All Web Browsers<br />
        <span class='resume-body-header'>Languages and APIs</span><br />
        C/C++, JavaScript, JQuery, PHP, Python, HTML/CSS, Django, OpenGL, Cocoa 
        </div>
    </div>
    <div class='resume-section'>
        <div id='experience-body' class='resume-section-body'>
        <span class='resume-body-header'>Procter & Gamble Paper Products</span><span class='right-floated'>2007-2011</span><br />
        <span class='resume-body-sub-header'>Backup Reliability Leader</span><br />
        <ul class='experience-list'>
            <li class='job-duty'>Operate and maintain a paper machine</li>
            <li class='job-duty'>Troubleshoot quality and reliability issues</li>
            <li class='job-duty'>Mentor and provide guidance to other employees</li>
            <li class='job-duty'>Set direction while reliability leader is away</li>
        </ul><br />
        <span class='resume-body-header'>Walgreens</span><span class='right-floated'>2007</span><br />
        <span class='resume-body-sub-header'>Store Clerk</span><br />
        <ul class='experience-list'>
            <li class='job-duty'>Maintain an orderly workplace</li>
            <li class='job-duty'>Keep shelves stocked and faced</li>
            <li class='job-duty'>Assist customers in finding products</li>
            <li class='job-duty'>Check out customers on register</li>
        </ul>
        </div>
    </div>
    <div class='resume-section'>
        <div id='hobbies-body' class='resume-section-body'>
        </div>
    </div>
</div>
{% endblock %}
