{% extends "base.html" %}
{% block title %}Christopher Budd's Resume{% endblock %}
{% block head %}
<LINK href="{{ STATIC_URL }}styles/resume.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div id='resume-wrap'>
    <div class='resume-section'>
        <div class='resume-section-head'>Objective</div><div class='resume-section-expand' id='objective-expand'>+</div>
        <div id='objective-body' class='resume-section-body'>Confident and proficient programmer with five years experience. Experience with multiple programming languages on multiple platforms with recent focus on Django web apps. I am currently seeking any position related to computer science including programming, quality assurance, or data entry.</div>
    </div>
    <div class='resume-section'>
        <div class='resume-section-head'>Education</div><div class='resume-section-expand' id='education-expand'>+</div>
        <div id='education-body' class='resume-section-body'>
        <span class='resume-body-header'>Merced Community College</span><br />
        Completed English 81 & 84 with As<br />
        Completed Beginning Algebra with an A<br />
        Completed Intermediate Algebra with 100%<br />
        <br />
        <span class='resume-body-header'>Modesto Junior College</span><br />
        Completed Problem Solving/Programming 1 & 2 (Java and C++) with an A<br />
        Completed Introduction to UNIX/Linux Systems with an A<br />
        Completed Networking Essentials with an A<br />
        <br />
        <span class='resume-body-header'>Hilmar High School</span><br />
        Obtained CHSPE and graduated junior year<br />
        Completed a Visual Basic and HTML Programming course<br />
        </div>
    </div>
    <div class='resume-section'>
        <div class='resume-section-head'>Experience</div>
    </div>
    <div class='resume-section'>
        <div class='resume-section-head'>Skills</div>
    </div>
    <div class='resume-section'>
        <div class='resume-section-head'>Hobbies</div>
    </div>

</div>
{% endblock %}
