{% extends "base.html" %}
{% block title %}Christopher Budd's Resume{% endblock %}
{% block head %}
<LINK href="{{ STATIC_URL }}styles/showcase.css" rel="stylesheet" type="text/css">
<LINK href="{{ STATIC_URL }}styles/nivo-slider.css" rel="stylesheet" type="text/css" media="screen">
<script src="{{ STATIC_URL }}scripts/jquery.nivo.slider.pack.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}scripts/showcase.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div id="slider" class="nivoSlider">
   <img src="{{ STATIC_URL }}images/showcase/logo.png" alt="" />
   <img src="{{ STATIC_URL }}images/showcase/logo.png" alt="" />
   <img src="{{ STATIC_URL }}images/showcase/logo.png" alt="" />
   <img src="{{ STATIC_URL }}images/showcase/logo.png" alt="" />
</div>
{% endblock %}
