#resume-nav{
   float:left;
}
#resume-wrap{
    position:absolute;
    margin-top:10px;
    right:10px;
    width:700px;
    height:300px;
    overflow-y:hidden;
    overflow-x:hidden;
    white-space:nowrap;
   /* -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);*/
}
.resume-section{
    position:relative;
    top:0px;
    display:inline-block;
    background-color:#F8F8F8;
    width:700px;
    height:275px;
    padding-top:5px;
    white-space:normal;
    vertical-align:top;
}
.resume-section:nth-child(odd){
    background-color:#F0F0F0;
}
.resume-section-head{
    cursor:pointer;
    text-align:center;
    font-size:16pt;
    font-weight:bold;
    width:120px;
    height:60px;
    line-height:60px;
    background-color:rgb(104,102,102);
}
.resume-section-head:hover{
    cursor:pointer;
    color:white;
    text-shadow:black 0.1em 0.1em 0.2em;
}
.active-resume-head{
    color:white;
    background-color:rgb(162,162,162);
    text-shadow:black 0.1em 0.1em 0.2em;
}
.resume-section-body{
    width:530px;
    height:300px;
    font-size: 10pt;
    /*overflow:hidden;*/
    margin-left:auto;
    margin-right:auto;
}
.resume-body-header{
    font-weight:bold;
    font-size:13pt;
    margin-left:-10px;
}
.resume-body-header:nth-child(odd){

}
.resume-body-sub-header{
   font-style:italic;
   font-size:13pt;
   
}
.experience-list{
   margin:0;
   padding:0;
   margin-left:25px;
   margin-top:2px;
}
.job-duty{

}
.right-floated{
   float:right;
}
.left-floated{
   float:left;
}
.clearer{
   clear:both;
}
