#resume-wrap{
    position:relative;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    padding:25px;
}
.resume-section{
    background-color:#F8F8F8;
    clear:both;
}
.resume-section:nth-child(odd){
    background-color:#F0F0F0;
}
.resume-section-head{
    font-size:16pt;
    font-weight:bold;
    width:100px;
    float:left;
    margin-bottom:5px;
}
.resume-section-expand{
    margin-left:10px;
    line-height:30px;
    width:16px;
    height:16px;
    float:left;
}
.resume-section-body{
    font-size: 12pt;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    padding-left:150px;
    padding-right:10px;
    clear:both;
}
.resume-body-header{
    font-weight:bold;
    font-size:14pt;
    margin-left:-10px;
}
.resume-body-header:nth-child(odd){

}
.resume-body-sub-header{
    font-style:italic;
    font-size:13pt;
}
.experience-list{

}
.job-duty{

}
.right-floated{
    float:right;
}

