#resume-nav{
   float:left;
}
#resume-wrap{
    float:right;
    top:10px;
    right:5px;
    width:720px;
    height:280px;
    position:relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
   /* -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);*/
}
.resume-section{
    margin:10px;
    background-color:#F8F8F8;
    clear:both;
}
.resume-section:nth-child(odd){
    background-color:#F0F0F0;
}
.resume-section-head{
    cursor:pointer;
    z-index:1;
    text-align:center;
    font-size:16pt;
    font-weight:bold;
    width:120px;
    height:60px;
    line-height:60px;
    background-color:rgb(104,102,102);
}
.resume-section-head:hover{
    cursor:pointer;
    color:white;
}
.active-resume-head{
    color:white;
    background-color:rgb(162,162,162);
}
.resume-section-body{
    float:right;
    font-size: 12pt;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    padding-left:150px;
    padding-right:10px;
    clear:both;
}
.resume-body-header{
    font-weight:bold;
    font-size:14pt;
    margin-left:-10px;
}
.resume-body-header:nth-child(odd){

}
.resume-body-sub-header{
   font-style:italic;
   font-size:13pt;
}
.experience-list{

}
.job-duty{

}
.right-floated{
   float:right;
}
.left-floated{
   float:left;
}

