.nivoSlider{
   position:relative;
   top:10px;
   left:10px;
   width:830px;
   height:280px;
   background-image:url('../images/loader.gif') no-repeat 50% 50%;
}
.nivoSlider img{
   position:absolute;
   top:0px;
   left:0px;
}
